/* Themify Customize Styling */
body {	
	font-family: "Poppins";	font-weight:200;
	font-size:15px;
 
}
h1 {	
	font-family: "Playfair Display";	font-weight:normal;
	font-size:80px;
 
}
h2 {	
	font-family: "Playfair Display";	font-weight:normal;
 
}
h3 {	
	font-family: "Playfair Display";	font-weight:normal;
 
}
h4 {	
	font-family: "Playfair Display";	font-weight:normal;
 
}
h5 {	
	font-family: "Playfair Display";	font-weight:normal;
 
}
h6 {	
	font-family: "Playfair Display";	font-weight:normal;
 
}
#main-nav-wrap #main-nav a:hover {	background: none;
	background-color: #e8caca; 
}
